<h3>INSTALLATION INOVAPP ORANGE</h3>
<ol>
    <li>Connecter le tél au wifi</li>
    <li>Activer l'option « autoriser sources inconnues » et « géolocalisation » dans les paramètres de sécurité du mobile</li>
    <li>Télécharger l'application « Boucle Animée » :
        <ul>
            <li>Allez sur le site internet « <code>xcvb.tv/or</code> »</li>
            <li>Entrez le mot de passe est : <code>wxc.1</code></li>
            <li>Laissez l'application s'installer</li>
            <li>Ouvrez l'application / Entrez le code ERD du magasin</li>
        </ul>
    </li>
</ol>

<h3>DESINSTALLATION INOVAPP ORANGE</h3>
<ol>
    <li>Appuyez quatre fois sur la touche « retour » du téléphone</li>
    <li>Entrez le mot de passe : <code>aqsdw</code> ou bien <code>4ndr01d</code></li>
</ol>