<h3>Relancer le dispositif</h3>
<ul>
    <li>Lorsque vous voyez un dysfonctionnement du vélo : écran frisé, message d'erreur..., le plus simple reste le redémarrage.</li>
    <li>Ouvrez la trappe en dessous de l'écran vertical, faites un appui long sur le petit ordinateur ‘NUC', une fois le dispositif éteint, rallumer par un appui court . Il se peut que vous soyez aussi obligé d'éteindre et de rallumer la tablette sur le vélo</li>
</ul>