<flash-message message="message"></flash-message>

<div ng-show="httpProcessing" class="overlay-message-container">
    <div class="overlay-message">
        <div class="overlay-icon"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        <p translate="MSG_WAIT"></p>
    </div>
</div>

<div class="page page-categories-selector">
    <div class="page-header page-category-header">
        <a class="back-btn" ng-click="app.goTo('menu')">
            <i class="fa fa-chevron-circle-left"></i>
        </a>
        <a class="header-right-btn" ng-class="{faded: !showProgress}" ng-click="switchProgress()">
            <i class="fa fa-tasks"></i>
        </a>
        <div ng-click="app.toggleHeaderMenu()" translate="HEADER_TITLE_CATEGORIES"></div>
    </div>

    <div class="header-menu" ng-show="app.showHeaderMenu">
        <a class="header-menu-item header-menu-item-1" ng-click="app.goTo('/spaces')">
            <div class="header-menu-item-inner">
                <i class="fa fa-cubes"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-2" ng-click="app.goTo('/categories')">
            <div class="header-menu-item-inner">
                <i class="fa fa-tags"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-3" ng-click="app.goTo('/procedures')">
            <div class="header-menu-item-inner">
                <i class="fa fa-archive"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-4" ng-click="app.goTo('/weather')">
            <div class="header-menu-item-inner">
                <i class="fa fa-sun-o"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-5" ng-click="app.goTo('/reportProblem')">
            <div class="header-menu-item-inner">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-6" ng-click="app.goTo('/emergency')">
            <div class="header-menu-item-inner">
                <i class="fa fa-phone"></i>
            </div>
        </a>
    </div>

    <div class="categories-selector-item" analytics-on analytics-event="Entrée" analytics-category="Catégories" analytics-label="{{cat.name}}" ng-click="select($index)" ng-repeat="cat in catsList" stick-header set-item-height velocity-transition="{transition: 'slideUpBigIn', delay: 50 * $index}">
        <div class="categories-selector-item-inner">
            <img class="categories-selector-item-icon" ng-src="assets/images/categories/{{cat.icon}}?v=010416" alt="Icone">
            <div class="categories-selector-item-label">{{cat.name}}</div>
            <!--<div class="categories-selector-item-progress" ng-show="showProgress" velocity-transition="{transition: 'slideUpIn', delay: 400 + (50 * $index)}">
                <canvas tc-chartjs-doughnut chart-options="chartOptions" chart-data="cat.chart" width="28" height="28"></canvas>
            </div>-->
            <div class="categories-selector-item-nok" ng-show="cat.chart[1].value > 0">{{cat.chart[1].value}}</div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>