<flash-message message="message"></flash-message>

<div ng-show="httpProcessing" class="overlay-message-container">
    <div class="overlay-message">
        <div class="overlay-icon"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        <p translate="MSG_WAIT"></p>
    </div>
</div>

<div class="page page-emergency">
    <div class="page-emergency-header">
        <a class="back-btn" ng-click="app.goTo('/menu')">
            <i class="fa fa-arrow-circle-left"></i>
        </a>
        <div ng-click="app.toggleHeaderMenu()" translate="HEADER_TITLE_EMERGENCY"></div>
    </div>

    <div class="header-menu" ng-show="app.showHeaderMenu">
        <a class="header-menu-item header-menu-item-1" ng-click="app.goTo('/spaces')">
            <div class="header-menu-item-inner">
                <i class="fa fa-cubes"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-2" ng-click="app.goTo('/categories')">
            <div class="header-menu-item-inner">
                <i class="fa fa-tags"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-3" ng-click="app.goTo('/procedures')">
            <div class="header-menu-item-inner">
                <i class="fa fa-archive"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-4" ng-click="app.goTo('/weather')">
            <div class="header-menu-item-inner">
                <i class="fa fa-sun-o"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-5" ng-click="app.goTo('/reportProblem')">
            <div class="header-menu-item-inner">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-6" ng-click="app.goTo('/emergency')">
            <div class="header-menu-item-inner">
                <i class="fa fa-phone"></i>
            </div>
        </a>
    </div>

    <div class="page-emergency-content">
        <div class="phones-filter">
            <input class="form-control" type="text" ng-model="keywordFilter" placeholder="{{'FILTER_KEYWORD' | translate}}"/>
        </div>

        <div class="phones">
            <div class="phone" ng-repeat="support in supportsList | filter:keywordFilter">
                <div class="phone-description">{{support.description}}</div>
                <div class="phone-notes" ng-show="support.notes">({{support.notes}})</div>
                <div class="phone-numbers">
                    <div class="phone-number-label" ng-if="support.label">{{support.label}}</div>
                    <a class="phone-number" href="tel:{{support.phone}}" ng-if="support.phone"><i class="fa fa-phone"></i> {{support.phone}}</a>
                </div>
                <div class="phone-email" ng-show="support.email"><a class="phone-email-link" href="mailto:{{support.email}}"><i class="fa fa-envelope-o"></i> {{support.email}}</a></div>
            </div>
        </div>
    </div>
</div>