<div class="form-message" ng-class="{hidden: !formMessage}" class="form-message">{{formMessage | translate}}</div>

<div ng-show="httpProcessing" class="overlay-message-container">
    <div class="overlay-message">
        <div class="overlay-icon"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        <p translate="MSG_WAIT"></p>
    </div>
</div>

<div class="page page-home">
    <div class="orange-logo" ng-show="logoIntro" ng-click="logoIntro = false">
        <img class="orange-logo-img" ng-src="assets/images/logo_orange.png" alt="Logo"/>
    </div>

    <div class="app-logo">
        <img class="app-logo-img" ng-src="assets/images/logo.png" alt="Logo"/>
        <div class="app-title" translate="APP_TITLE"></div>

        <form class="form-login" ng-submit="check()">

            <div class="form-row">
                <div class="form-label" translate="HOME_LOGIN"></div>
                <input class="form-control" type="text" ng-model="identFT"/>
            </div>

            <div class="form-row">
                <div class="form-label" translate="HOME_SHOP_CODE"></div>
                <input class="form-control" type="text" ng-model="code"/>
            </div>

            <div class="form-row">
                <label class="form-checkbox-label" for="remember"><input class="form-checkbox" type="checkbox" id="remember" ng-model="remember" value="true"/> {{'CB_STAY_CONNECTED' | translate}}</label>
            </div>

            <div class="form-row">
                <button type="submit" class="form-btn"><i class="fa fa-lock"></i> {{'HOME_BTN_LOGIN' | translate}}</button>
            </div>

            <div class="home-lang-selector" ng-click="app.langSelector = true">
                <span class="flag-icon flag-icon-{{app.langs[app.selectedLang].flag}} flag-icon-squared flag-rounded home-lang-selector-icon"></span>
            </div>

        </form>
    </div>
</div>