<div class="page page-menu">
    <div class="menu">
        <!-- MENU_ITEM_SPACES -->
        <div ng-show="show_spaces && show_checks" class="menu-item menu-item-semi menu-item-1" ng-class="{'solo': !show_categories}" ng-click="app.goTo('/spaces')" velocity-transition="{transition: 'slideLeftBigIn', delay: 0}">
            <div class="menu-item-label" translate="MENU_ITEM_SPACES"></div>
        </div>
        <!-- MENU_ITEM_CATEGORIES -->
        <div ng-show="show_categories && show_checks" class="menu-item menu-item-semi menu-item-2" ng-class="{'solo': !show_spaces}" ng-click="app.goTo('/categories')" velocity-transition="{transition: 'slideLeftBigIn', delay: 200}">
            <div class="menu-item-label" translate="MENU_ITEM_CATEGORIES"></div>
        </div>
        <!-- MENU_ITEM_PROCEDURES -->
        <div class="menu-item menu-item-3" ng-click="app.goTo('/procedures')" ng-class="{'no-check': !show_checks || (!show_spaces && !show_categories)}" velocity-transition="{transition: 'slideLeftBigIn', delay: 400}">
            <div class="menu-item-label" translate="MENU_ITEM_PROCEDURES"></div>
        </div>
        <!-- MENU_ITEM_WEATHER -->
        <div ng-show="(show_spaces || show_categories) && show_checks" class="menu-item menu-item-4" ng-click="app.goTo('/weather')" velocity-transition="{transition: 'slideLeftBigIn', delay: 600}">
            <div class="menu-item-label" translate="MENU_ITEM_WEATHER"></div>
        </div>
        <!-- MENU_ITEM_REPORTING -->
        <div class="menu-item menu-item-5" ng-click="app.goTo('/reportProblem')" ng-class="{'no-check': !show_checks || (!show_spaces && !show_categories)}" velocity-transition="{transition: 'slideLeftBigIn', delay: 800}">
            <div class="menu-item-label" translate="MENU_ITEM_REPORTING"></div>
        </div>
        <!-- MENU_ITEM_EMERGENCY -->
        <div class="menu-item menu-item-6" ng-click="app.goTo('/emergency')" ng-class="{'no-check': !show_checks || (!show_spaces && !show_categories)}" velocity-transition="{transition: 'slideLeftBigIn', delay: 1000}">
            <div class="menu-item-label" translate="MENU_ITEM_EMERGENCY"></div>
        </div>
        <div ng-show="(show_spaces || show_categories) && show_checks" class="check-progress-circle" velocity-transition="{transition: 'flipXIn', delay: 1200}">
            <canvas tc-chartjs-doughnut chart-options="chartOptions" chart-data="chartProgress" width="48" height="48"></canvas>
            <div class="check-progress-circle-label">{{checkProgress}}</div>
        </div>
        <div class="menu-logout" velocity-transition="{transition: 'slideUpBigIn', delay: 1200}">
            <div class="menu-logout-icon" ng-class="{opened: menu.logoutMenuOpened}">
                <div ng-hide="menu.logoutMenuOpened" class="corner-rb-icon" ng-click="menu.logoutMenuOpened = true">
                    <i class="fa fa-close"></i>
                </div>
                <div class="menu-logout-message" ng-show="menu.logoutMenuOpened">
                    <div class="menu-logout-question" translate="MENU_LOGOUT"></div>
                    <div class="menu-logout-btn" ng-click="menu.logout()" translate="BTN_YES"></div>
                    <div class="menu-logout-btn" ng-click="menu.logoutMenuOpened = false" translate="BTN_NO"></div>
                </div>
            </div>
        </div>
    </div>
</div>