<div class="page page-procedures">
    <div class="page-procedures-header">
        <a class="back-btn" ng-click="app.goTo('/menu')">
            <i class="fa fa-arrow-circle-left"></i>
        </a>
        <div ng-click="app.toggleHeaderMenu()" translate="HEADER_TITLE_PROCEDURES"></div>
    </div>

    <div class="header-menu" ng-show="app.showHeaderMenu">
        <a class="header-menu-item header-menu-item-1" ng-click="app.goTo('/spaces')">
            <div class="header-menu-item-inner">
                <i class="fa fa-cubes"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-2" ng-click="app.goTo('/categories')">
            <div class="header-menu-item-inner">
                <i class="fa fa-tags"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-3" ng-click="app.goTo('/procedures')">
            <div class="header-menu-item-inner">
                <i class="fa fa-archive"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-4" ng-click="app.goTo('/weather')">
            <div class="header-menu-item-inner">
                <i class="fa fa-sun-o"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-5" ng-click="app.goTo('/reportProblem')">
            <div class="header-menu-item-inner">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-6" ng-click="app.goTo('/emergency')">
            <div class="header-menu-item-inner">
                <i class="fa fa-phone"></i>
            </div>
        </a>
    </div>

    <div class="page-procedures-content">
        <div class="procedures-filter">
            <input class="form-control" type="text" ng-model="keywordFilter" placeholder="{{'FILTER_KEYWORD' | translate}}"/>
        </div>

        <div class="procedures">
            <div class="procedure" ng-repeat="procedure in app.proceduresList | filter:keywordFilter" ng-click="app.goTo('procedures/' + $index)">
                <div class="procedure-name">{{procedure.name}}</div>
                <div class="procedure-description">{{procedure.description}}</div>
            </div>
        </div>

    </div>
</div>