<flash-message message="message"></flash-message>

<div ng-show="httpProcessing" class="overlay-message-container">
    <div class="overlay-message">
        <div class="overlay-icon"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        <p translate="MSG_WAIT"></p>
    </div>
</div>

<div class="page page-report">
    <div class="page-report-header">
        <a class="back-btn" ng-click="app.goTo('/menu')">
            <i class="fa fa-arrow-circle-left"></i>
        </a>
        <div ng-click="app.toggleHeaderMenu()" translate="HEADER_TITLE_REPORT"></div>
    </div>

    <div class="header-menu" ng-show="app.showHeaderMenu">
        <a class="header-menu-item header-menu-item-1" ng-click="app.goTo('/spaces')">
            <div class="header-menu-item-inner">
                <i class="fa fa-cubes"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-2" ng-click="app.goTo('/categories')">
            <div class="header-menu-item-inner">
                <i class="fa fa-tags"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-3" ng-click="app.goTo('/procedures')">
            <div class="header-menu-item-inner">
                <i class="fa fa-archive"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-4" ng-click="app.goTo('/weather')">
            <div class="header-menu-item-inner">
                <i class="fa fa-sun-o"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-5" ng-click="app.goTo('/reportProblem')">
            <div class="header-menu-item-inner">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-6" ng-click="app.goTo('/emergency')">
            <div class="header-menu-item-inner">
                <i class="fa fa-phone"></i>
            </div>
        </a>
    </div>

    <div class="report-form">
        <div class="report-date">{{currentDateTime}}</div>

        <div class="report-label" translate="I_NOTE_THAT"></div>

        <div class="control-container">
            <textarea class="textarea textarea-alizarin" name="problem" id="problem" rows="4" ng-model="problem"></textarea>
        </div>

        <div class="control-container" ng-show="areasList.length > 0">
            <div class="report-label">Zone où se situe le problème</div>
            <select ng-model="selectedArea">
                <option ng-repeat="area in areasList" value="{{area.name}}">{{area.name}}</option>
            </select>
        </div>

        <div class="report-label" translate="ATTACH_PHOTO"></div>

        <div class="control-container">
            <input class="report-picture" type="file" name="picture" id="picture" ng-model="picture" file-upload/>
        </div>

        <div class="control-container">
            <button class="btn btn-alizarin" ng-click="send()" translate="BTN_SEND"></button>
        </div>
    </div>
</div>
