<flash-message message="message"></flash-message>

<div ng-show="httpProcessing" class="overlay-message-container">
    <div class="overlay-message">
        <div class="overlay-icon"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        <p translate="MSG_WAIT"></p>
    </div>
</div>

<div class="page page-space">
    <div class="toggle-modal" ng-show="modalOpened">
        <div class="toggle-modal-overlay">
            <div class="toggle-modal-box modal-spaces">
                <div class="toggle-modal-title" translate="CHECK_POPUP_COMMENTS"></div>
                <form class="toggle-modal-form" ng-submit="commentsModal.save()">
                    <textarea class="textarea" rows="3" ng-model="comments"></textarea>
                    <button type="submit" class="btn btn-peter-river" translate="BTN_VALIDATE"></button>
                    <button type="button" class="btn btn-concrete" ng-click="commentsModal.cancel()" translate="BTN_CANCEL"></button>
                </form>
            </div>
        </div>
    </div>

    <div class="page-space-header">
        <a class="back-btn" ng-click="app.goTo('spaces')">
            <i class="fa fa-chevron-circle-left" ng-hide="changeMade"></i>
            <i class="fa fa-warning" ng-show="changeMade"></i>
        </a>
        <a class="short-list-btn" ng-click="switchList()">
            <i class="fa fa-th-list" ng-show="shortList"></i>
            <i class="fa fa-list" ng-hide="shortList"></i>
        </a>
        <div ng-click="app.toggleHeaderMenu()"><span class="area-bullet" ng-show="space.area_color" style="color: {{space.area_color}};"><i class="fa fa-circle"></i> </span>{{space.name}}</div>
    </div>

    <div class="header-menu" ng-show="app.showHeaderMenu">
        <a class="header-menu-item header-menu-item-1" ng-click="app.goTo('/spaces')">
            <div class="header-menu-item-inner">
                <i class="fa fa-cubes"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-2" ng-click="app.goTo('/categories')">
            <div class="header-menu-item-inner">
                <i class="fa fa-tags"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-3" ng-click="app.goTo('/procedures')">
            <div class="header-menu-item-inner">
                <i class="fa fa-archive"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-4" ng-click="app.goTo('/weather')">
            <div class="header-menu-item-inner">
                <i class="fa fa-sun-o"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-5" ng-click="app.goTo('/reportProblem')">
            <div class="header-menu-item-inner">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-6" ng-click="app.goTo('/emergency')">
            <div class="header-menu-item-inner">
                <i class="fa fa-phone"></i>
            </div>
        </a>
    </div>

    <div class="page-space-content">
        <div class="change-warning" ng-show="changeMade"><i class="fa fa-warning"></i> {{'WARNING_SAVE_MODIFICATIONS' | translate}}</div>

        <div class="space-category" ng-show="category.checks.length" ng-repeat="category in space.categories">
            <div class="space-category-title">{{category.name}}</div>

            <div class="space-category-item" ng-repeat="check in category.checks | filter: { is_in_short_list: shortList }">
                <table>
                    <tr>
                        <td width="70"><toggle-btn check="check" modal="commentsModal"></toggle-btn></td>
                        <td>{{check.name}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="space-btn">
            <div class="btn btn-peter-river" ng-click="save()"><i class="fa fa-floppy-o"></i> {{'BTN_SAVE' | translate}}</div>
            <div class="mts">
                <div class="btn btn-peter-river" ng-click="send()"><i class="fa fa-share-square"></i> {{'BTN_SEND_REPORT' | translate}}</div>
            </div>
        </div>
    </div>
</div>