<flash-message message="message"></flash-message>

<div ng-show="httpProcessing" class="overlay-message-container">
    <div class="overlay-message">
        <div class="overlay-icon"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        <p translate="MSG_WAIT"></p>
    </div>
</div>

<div class="page page-spaces-selector">
    <div class="page-header page-space-header">
        <a class="back-btn" ng-click="app.goTo('menu')">
            <i class="fa fa-chevron-circle-left"></i>
        </a>
        <a class="header-right-btn" ng-class="{faded: !showProgress}" ng-click="switchProgress()">
            <i class="fa fa-tasks"></i>
        </a>
        <div ng-click="app.toggleHeaderMenu()" translate="HEADER_TITLE_SPACES"></div>
    </div>

    <div class="header-menu" ng-show="app.showHeaderMenu">
        <a class="header-menu-item header-menu-item-1" ng-click="app.goTo('/spaces')">
            <div class="header-menu-item-inner">
                <i class="fa fa-cubes"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-2" ng-click="app.goTo('/categories')">
            <div class="header-menu-item-inner">
                <i class="fa fa-tags"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-3" ng-click="app.goTo('/procedures')">
            <div class="header-menu-item-inner">
                <i class="fa fa-archive"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-4" ng-click="app.goTo('/weather')">
            <div class="header-menu-item-inner">
                <i class="fa fa-sun-o"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-5" ng-click="app.goTo('/reportProblem')">
            <div class="header-menu-item-inner">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-6" ng-click="app.goTo('/emergency')">
            <div class="header-menu-item-inner">
                <i class="fa fa-phone"></i>
            </div>
        </a>
    </div>

    <!-- Découpage sans zone -->
    <div ng-if="areasList.length <= 0" class="spaces-selector-item" analytics-on analytics-event="Entrée" analytics-category="Espaces" analytics-label="{{space.name}}" ng-click="select(space.id)" ng-repeat="space in spacesList" stick-header set-item-height velocity-transition="{transition: 'slideUpBigIn', delay: 50 * $index}">
        <div class="spaces-selector-item-inner">
            <img class="spaces-selector-item-icon" ng-src="assets/images/espaces/{{::space.icon}}" alt="Icone">
            <div class="spaces-selector-item-label">{{::space.name}}</div>
            <div class="spaces-selector-item-progress" ng-show="showProgress" velocity-transition="{transition: 'slideUpIn', delay: 600 + (50 * $index)}">
                <canvas tc-chartjs-doughnut chart-options="::chartOptions" chart-data="::space.chart" width="28" height="28"></canvas>
            </div>
            <div class="spaces-selector-item-nok" ng-show="space.chart.datasets[0].data[1] > 0">{{space.chart.datasets[0].data[1]}}</div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Découpage avec zone -->
    <div ng-if="areasList.length > 0" class="spaces-area" ng-repeat="area in areasList" stick-header ng-style="{'border-color':area.color}">
        <div class="spaces-area-name" style="background-color: {{::area.color}};">{{::area.name}}</div>
        <div class="spaces-selector-item" analytics-on analytics-event="Entrée" analytics-category="Espaces" analytics-label="{{space.name}}" ng-click="select(space.id)" ng-repeat="space in spacesList | filter:{area_id: area.id}" set-item-height velocity-transition="{transition: 'slideUpBigIn', delay: 50 * $index}">
            <div class="spaces-selector-item-inner">
                <img class="spaces-selector-item-icon" ng-src="assets/images/espaces/{{::space.icon}}" alt="Icone">
                <div class="spaces-selector-item-label">{{::space.name}}</div>
                <!--<div class="spaces-selector-item-progress" ng-show="showProgress" velocity-transition="{transition: 'slideUpIn', delay: 600 + (50 * $index)}">
                    <canvas tc-chartjs-doughnut chart-options="::chartOptions" chart-data="::space.chart" width="28" height="28"></canvas>
                </div>-->
                <div class="spaces-selector-item-nok" ng-show="space.chart.datasets[0].data[1] > 0">{{space.chart.datasets[0].data[1]}}</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>