<div ng-show="httpProcessing" class="overlay-message-container">
    <div class="overlay-message">
        <div class="overlay-icon"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        <p translate="MSG_WAIT"></p>
    </div>
</div>

<div class="page page-weather">
    <div class="page-weather-header">
        <a class="back-btn" ng-click="app.goTo('/menu')">
            <i class="fa fa-arrow-circle-left"></i>
        </a>
        <div ng-click="app.toggleHeaderMenu()" translate="HEADER_TITLE_WEATHER"></div>
    </div>

    <div class="header-menu" ng-show="app.showHeaderMenu">
        <a class="header-menu-item header-menu-item-1" ng-click="app.goTo('/spaces')">
            <div class="header-menu-item-inner">
                <i class="fa fa-cubes"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-2" ng-click="app.goTo('/categories')">
            <div class="header-menu-item-inner">
                <i class="fa fa-tags"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-3" ng-click="app.goTo('/procedures')">
            <div class="header-menu-item-inner">
                <i class="fa fa-archive"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-4" ng-click="app.goTo('/weather')">
            <div class="header-menu-item-inner">
                <i class="fa fa-sun-o"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-5" ng-click="app.goTo('/reportProblem')">
            <div class="header-menu-item-inner">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
        </a>
        <a class="header-menu-item header-menu-item-6" ng-click="app.goTo('/emergency')">
            <div class="header-menu-item-inner">
                <i class="fa fa-phone"></i>
            </div>
        </a>
    </div>

    <div class="detailed-wheather" ng-show="detailedWeather" ng-click="detailedWeather = false">
        <div class="detailed-wheather-inner">
            <div class="detailed-weather-title" translate="WEATHER_TITLE"></div>
            <div class="detailed-wheather-item" ng-repeat="checking in forecast.checkings">
                <div class="detailed-wheather-item-title"><span class="color-space">{{checking.space}}</span> / <span class="color-category">{{checking.category}}</span></div>
                <div class="detailed-wheather-item-check"><span class="color-red"><i class="fa fa-times-circle"></i></span> {{checking.check}}</div>
                <div ng-show="checking.checking.comments"><i><span class="color-red">{{'WEATHER_CHECKING_COMMENTS' | translate}} {{checking.checking.comments}}</span></i></div>
            </div>
        </div>
    </div>

    <div class="weather-bottom-message" translate="WEATHER_BOTTOM_MESSAGE"></div>

    <div class="weather-wrapper sunny" ng-show="forecast.clouds <= 0 && forecast.done > 0">
        <div class="weather" velocity-transition="{transition: 'bounceIn', delay: 0}">
            <div class="weather-icon">
                <i class="wi wi-day-sunny"></i>
            </div>
            <div class="weather-message" translate="WEATHER_FORECAST_SUNNY"></div>
        </div>
    </div>

    <div class="weather-wrapper sunny-cloudy" ng-show="forecast.done == 0">
        <div class="weather" velocity-transition="{transition: 'bounceIn', delay: 0}">
            <div class="weather-icon">
                <i class="wi wi-day-cloudy"></i>
            </div>
            <div class="weather-message" translate="WEATHER_FORECAST_DAY_CLOUDY"></div>
        </div>
    </div>

    <div class="weather-wrapper cloudy" ng-show="forecast.clouds > 0 && forecast.clouds <= 3" ng-click="detailedWeather = true">
        <div class="weather" velocity-transition="{transition: 'bounceIn', delay: 0}">
            <div class="weather-icon">
                <i class="wi wi-cloudy"></i>
            </div>
            <div class="weather-message" translate="WEATHER_FORECAST_CLOUDY" translate-values="{cnt: forecast.clouds}"></div>
        </div>
    </div>

    <div class="weather-wrapper rain" ng-show="forecast.clouds > 3" ng-click="detailedWeather = true">
        <div class="weather" velocity-transition="{transition: 'bounceIn', delay: 0}">
            <div class="weather-icon">
                <i class="wi wi-rain"></i>
            </div>
            <div class="weather-message" translate="WEATHER_FORECAST_RAIN" translate-values="{cnt: forecast.clouds}"></div>
        </div>
    </div>
</div>