<!doctype html>
<html ng-app="webapp" lang="fr">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Meta SEO -->
    <title>Orange - Check Mon Merch</title>
    <meta name="title" content="Orange - Check Mon Merch" />
    <meta name="author" content="Creative Innovations" />
    <meta name="description" content="Orange - Check Mon Merch" />
    <meta name="keywords" content="orange,check,merch" />

    <!-- Copyright -->
    <meta name="Copyright" content="Orange" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/images/favicons/manifest.json">
    <link rel="shortcut icon" href="assets/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="assets/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/libs/weather-icons/css/weather-icons.css">
    <link rel="stylesheet" href="assets/libs/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/libs/animate.css/animate.min.css">
    <link rel="stylesheet" href="assets/css/app.min.css">
</head>

<body ng-controller="WebAppCtrl as app" ng-cloak>

    <div class="lang-selector" ng-show="app.langSelector">
        <div class="lang-selector-container">
            <div class="lang-selector-item" ng-class="{selected: key == app.selectedLang}" ng-click="app.selectLang(key)" ng-repeat="(key, lang) in app.langs">
                <span class="flag-icon flag-icon-{{lang.flag}} flag-icon-squared flag-rounded lang-selector-icon"></span>
            </div>
        </div>
    </div>

    <div ng-view class="view page-view"></div>

    <script type="text/javascript">
        var apiURL = 'api';
    </script>

    <!-- Libs -->
    <!-- jQuery -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Moment.js -->
    <script src="assets/libs/moment/min/moment-with-locales.min.js"></script>
    <!-- Fastclick -->
    <script src="assets/libs/fastclick/lib/fastclick.js"></script>
    <!-- Charts.js -->
    <script src="assets/libs/chart.js/dist/Chart.min.js"></script><!-- AJOUT 25.03.2016 -->
    <!-- Angular -->
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular-animate/angular-animate.min.js"></script>
    <script src="assets/libs/angular-aria/angular-aria.min.js"></script>
    <script src="assets/libs/angular-cookies/angular-cookies.min.js"></script>
    <script src="assets/libs/angular-messages/angular-messages.min.js"></script>
    <script src="assets/libs/angular-route/angular-route.min.js"></script>
    <script src="assets/libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="assets/libs/angular-touch/angular-touch.min.js"></script>
    <!-- Angular translate -->
    <script src="assets/libs/angular-translate/angular-translate.min.js"></script>
    <script src="assets/libs/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="assets/libs/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <!-- Angulartics -->
    <script src="assets/libs/angulartics/dist/angulartics.min.js"></script>
    <script src="assets/libs/angulartics-google-analytics/dist/angulartics-ga.min.js"></script>
    <!-- Angular / Charts.js -->
    <script src="assets/libs/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script><!-- AJOUT 25.03.2016 -->
    <!-- Velocity -->
    <script src="assets/libs/velocity/velocity.min.js"></script>
    <script src="assets/libs/velocity/velocity.ui.min.js"></script>

    <!-- JS -->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/filters.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/controllers.js"></script>
    <script src="assets/js/directives.js"></script>
</body>
</html>
