* {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: @font_size;

  color: #ccc;
  background: #111;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
  color: @orange;
  text-decoration: none;

  &:visited,
  &:active,
  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

input,
textarea,
button,
select {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: @font_size;
}

a,
button {
    cursor: pointer;
}