.m-reset, .ma0 { margin: 0; }
.p-reset, .pa0 { padding: 0; }
.ma1, .mas { margin: @smallvalue; }
.ma2, .mam { margin: @mediumvalue; }
.ma3, .mal { margin: @largevalue; }
.pa1, .pas { padding: @smallvalue; }
.pa2, .pam { padding: @mediumvalue; }
.pa3, .pal { padding: @largevalue; }

.mt0, .mtn { margin-top: 0; }
.mt1, .mts { margin-top: @smallvalue; }
.mt2, .mtm { margin-top: @mediumvalue; }
.mt3, .mtl { margin-top: @largevalue; }
.mr0, .mrn { margin-right: 0; }
.mr1, .mrs { margin-right: @smallvalue; }
.mr2, .mrm { margin-right: @mediumvalue; }
.mr3, .mrl { margin-right: @largevalue; }
.mb0, .mbn { margin-bottom: 0; }
.mb1, .mbs { margin-bottom: @smallvalue; }
.mb2, .mbm { margin-bottom: @mediumvalue; }
.mb3, .mbl { margin-bottom: @largevalue; }
.ml0, .mln { margin-left: 0; }
.ml1, .mls { margin-left: @smallvalue; }
.ml2, .mlm { margin-left: @mediumvalue; }
.ml3, .mll { margin-left: @largevalue; }

.pt0, .ptn { padding-top: 0; }
.pt1, .pts { padding-top: @smallvalue; }
.pt2, .ptm { padding-top: @mediumvalue; }
.pt3, .ptl { padding-top: @largevalue; }
.pr0, .prn { padding-right: 0; }
.pr1, .prs { padding-right: @smallvalue; }
.pr2, .prm { padding-right: @mediumvalue; }
.pr3, .prl { padding-right: @largevalue; }
.pb0, .pbn { padding-bottom: 0; }
.pb1, .pbs { padding-bottom: @smallvalue; }
.pb2, .pbm { padding-bottom: @mediumvalue; }
.pb3, .pbl { padding-bottom: @largevalue; }
.pl0, .pln { padding-left: 0; }
.pl1, .pls { padding-left: @smallvalue; }
.pl2, .plm { padding-left: @mediumvalue; }
.pl3, .pll { padding-left: @largevalue; }

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }

.hidden {
    display: none;
}

.img-responsive {
    width: 100%;
    height: auto;
}

span.big { font-size: 1.2em; }
span.small { font-size: 0.8em; }

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}