.border-radius (@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.text-shadow(@params: 1px 1px 1px rgba(0, 0, 0, 0.6)) {
  -webkit-text-shadow: @params;
  -moz-text-shadow: @params;
  text-shadow: @params;
}

.drop-shadow(@params: 1px 1px 1px rgba(0, 0, 0, 0.1)) {
  -webkit-box-shadow: @params;
  -moz-box-shadow: @params;
  box-shadow: @params;
}

.transition(@params: all 0.4s ease-in-out) {
    -webkit-transition: @params;
    -moz-transition: @params;
    -ms-transition: @params;
    -o-transition: @params;
    transition: @params;
}

.gradient (@startColor: #eeeeee, @endColor: #ffffff) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}