// ----------------------------------------------------------------------------
// Controls
// ----------------------------------------------------------------------------
.textarea {
    padding: 10px;
    width: 90%;
    .border-radius(4px);
    border: none;
    color: #ccc;
    background-color: #111;

    &.textarea-concrete {
        color: #ccc;
        background-color: #111;
        border: 1px solid @concrete;
    }

    &.textarea-asbestos {
        color: #ccc;
        background-color: #111;
        border: 1px solid @asbestos;
    }

    &.textarea-alizarin {
        color: #ccc;
        background-color: #111;
        border: 1px solid @alizarin;
    }
}

.btn {
    padding: 10px;
    margin: 0 auto;
    width: 90%;
    .border-radius(4px);
    border: none;
    text-align: center;
    color: #fff;
    background-color: #999999;
    cursor: pointer;

    &.btn-concrete {
        color: #fff;
        background-color: @concrete;
    }

    &.btn-asbestos {
        color: #fff;
        background-color: @asbestos;
    }

    &.btn-alizarin {
        color: #fff;
        background-color: @alizarin;
    }

    &.btn-peter-river {
        color: #fff;
        background-color: @peter_river;
    }

    &.btn-emerald {
        color: #fff;
        background-color: @emerald;
    }
}

.back-btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    padding: 10px;
    color: #ffffff;
}

.short-list-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    padding: 10px;
    color: #ffffff;
}

.header-right-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    padding: 10px;
    color: #ffffff;
}

.faded {
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.toggle-container {
    display: inline-block;
    vertical-align: middle;

    .toggle-btn {
        padding: 2px;
        display: inline-block;
        font-size: 2em;
        color: #333;
        transition: 0.2s ease-in-out all;

        &.toggle-on {
            &.active {
                color: #3bd27a;
            }
        }
        &.toggle-off {
            &.active {
                color: #e74c3c;
            }
        }
    }
}

.color-space {
    color: @peter_river;
}

.color-category {
    color: @emerald;
}

.color-red {
    color: @alizarin;
}

.area-bullet {
    display: inline-block;
    margin-right: 8px;
    font-size: 0.9em;
}

// ----------------------------------------------------------------------------
// Overlay
// ----------------------------------------------------------------------------
.overlay-message-container {
    position: fixed;
    z-index: 998;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 1;

    .overlay-message {
        position: absolute;
        width: 80%;
        top: 40%;
        left: 10%;
        font-size: 1.2em;
        text-align: center;

        .overlay-icon {
            font-size: 2em;
            margin-bottom: 10px;
        }
    }
}

.overlay-message-container.ng-hide-add,
.overlay-message-container.ng-hide-remove {
    transition: 0.5s ease-in-out all;
}

.overlay-message-container.ng-hide-add-active,
.overlay-message-container.ng-hide-remove-active {
    transition: 0.5s ease-in-out all;
}

.overlay-message-container.ng-hide {
    opacity: 0;
}

.form-message {
    position: absolute;
    display: block;
    z-index: 980;
    left: 10%;
    top: 0;
    width: 80%;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    background-color: @dark_red;
    border: none;
    .border-radius(0 0 4px 4px);
    .transition();

    &.hidden {
        top: -200px;
    }
}

// ----------------------------------------------------------------------------
// Lang selector
// ----------------------------------------------------------------------------
.lang-selector {
    z-index: 982;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);

    &.ng-hide {
        transform: translate(0, 100%);
    }

    &.ng-hide-add,
    &.ng-hide-remove {
        transition: 0.6s ease-in-out all;
    }

    &.ng-hide-add-active,
    &.ng-hide-remove-active {
        transition: 0.6s ease-in-out all;
    }

    .lang-selector-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        height: 70%;
        transform: translate(-50%, -50%);

        .lang-selector-item {
            position: relative;
            float: left;
            width: 33.3%;
            height: 25%;
            cursor: pointer;

            .lang-selector-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 64px;
                height: 64px;
                border: 4px solid #333;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            }

            &.selected {
                .lang-selector-icon {
                    border: 4px solid @orange;
                }
            }
        }
    }
}

.home-lang-selector {
    margin-top: 20px;

    .home-lang-selector-icon {
        width: 32px;
        height: 32px;
        border: 3px solid #333;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
}

.flag-rounded {
    border-radius: 50%;
}

// ----------------------------------------------------------------------------
// View & Page
// ----------------------------------------------------------------------------
.view {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    overflow-y: scroll;

}

// ----------------------------------------------------------------------------
// Header menu
// ----------------------------------------------------------------------------
.header-menu {
    position: fixed;
    top: 43px;
    left: 0;
    width: 100%;
    z-index: 980;
    background-color: #111;
    .drop-shadow(0 6px 0 rgba(0, 0, 0, 0.2));

    .header-menu-item {
        display: block;
        float: left;
        width: 16.666666%;

        .header-menu-item-inner {
            padding: 10px;
            color: rgba(255, 255, 255, 0.9);
            font-size: 2em;
            text-align: center;
        }

        &.header-menu-item-1 {
            background-color: @peter_river;
        }
        &.header-menu-item-2 {
            background-color: @emerald;
        }
        &.header-menu-item-3 {
            background-color: #607D8B;
        }
        &.header-menu-item-4 {
            background-color: @amethyst;
        }
        &.header-menu-item-5 {
            background-color: @alizarin;
        }
        &.header-menu-item-6 {
            background-color: @carrot;
        }
    }

    &.ng-hide-add,
    &.ng-hide-remove {
        transition: 0.3s ease-in-out all;
    }

    &.ng-hide-add-active,
    &.ng-hide-remove-active {
        transition: 0.3s ease-in-out all;
    }

    &.ng-hide {
        top: -50px;
    }
}

// ----------------------------------------------------------------------------
// Page home
// ----------------------------------------------------------------------------
.page-home {

    .orange-logo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: #111;
        opacity: 1;

        .orange-logo-img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            max-width: 128px;
            height: auto;
            transform: translate(-50%, -50%);
        }

        &.ng-hide {
            opacity: 0;
        }

        &.ng-hide-add,
        &.ng-hide-remove {
            transition: 0.3s linear opacity;
        }

        &.ng-hide-add-active,
        &.ng-hide-remove-active {
            transition: 0.3s linear opacity;
        }
    }

    .app-logo {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translate(0, -50%);
        text-align: center;

        .app-logo-img {
            width: 50%;
            max-width: 256px;
            height: auto;

            @media screen and (max-height: 480px) {
                max-width: 128px;
            }
        }

        .app-title {
            font-size: 1.3em;
            color: #ffffff;
        }
    }

    .form-login {
        position: relative;
        width: 80%;
        max-width: 280px;
        margin: 30px auto 0 auto;

        .form-row {
            margin: 5px 0;

            .form-label {
                padding: 5px;
                font-size: 1em;
                margin-bottom: 5px;
                text-align: left;
            }

            .form-control {
                display: block;
                width: 100%;
                padding: 10px;
                color: #fff;
                background-color: #111;
                background-color: transparent;
                border: 2px solid #fff;
                .border-radius(4px);
            }

            .form-checkbox-label {
                display: block;
                width: 100%;
                padding-top: 5px;

                .form-checkbox {
                    vertical-align: middle;
                }
            }

            .form-btn {
                display: block;
                width: 100%;
                margin-top: 20px;
                padding: 10px;
                color: #fff;
                font-size: 1em;
                background-color: @orange;
                border: none;
                .border-radius(4px);


                &:hover,
                &:active {
                    color: @orange;
                    background-color: #fff;
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------
// Page menu
// ----------------------------------------------------------------------------
.page-menu {

    .menu {
        width: 100%;
        height: 100%;

        .menu-item {
            position: absolute;
            width: 100%;
            height: 20%;
            font-size: 1.3em;
            text-align: center;
            color: #ffffff;

            &.menu-item-semi {
                width: 50%;
            }

            &:before {
                position: absolute;
                font-family: 'FontAwesome';
                font-size: 7em;
                color: rgba(255, 255, 255, 0.2);
                top: 15%;
                content: "\f005";
            }

            .menu-item-label {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translate(0, -50%);
            }

            &.menu-item-1 {
                left: 0;
                top: 0;
                background-color: @peter_river;

                &:before {
                    left: 0;
                    content: "\f1b3";
                }

                &.solo {
                    width: 100%;
                }
            }
            &.menu-item-2 {
                top: 0;
                left: 50%;
                background-color: @emerald;

                &:before {
                    right: 0;
                    content: "\f02c";
                }

                &.solo {
                    left: 0;
                    width: 100%;
                }
            }
            &.menu-item-3 {
                top: 20%;
                background-color: #607D8B;

                &:before {
                    right: 20px;
                    content: "\f187";
                }

                &.no-check {
                    top: 0%;
                    height: 33.33333%;
                }
            }
            &.menu-item-4 {
                top: 40%;
                background-color: @amethyst;

                &:before {
                    left: 20px;
                    content: "\f185";
                }
            }
            &.menu-item-5 {
                top: 60%;
                background-color: @alizarin;

                &:before {
                    right: 20px;
                    content: "\f071";
                }

                &.no-check {
                    top: 33.33333%;
                    height: 33.33333%;
                }
            }
            &.menu-item-6 {
                top: 80%;
                background-color: @carrot;

                &:before {
                    left: 20px;
                    content: "\f095";
                }

                &.no-check {
                    top: 66.66666%;
                    height: 33.33333%;
                }
            }
        }

        .menu-logout {
            position: absolute;
            bottom: 0;
            right: 0;
            color: #fff;

            .menu-logout-icon {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 48px 48px;
                border-color: transparent transparent #000000 transparent;
                transition: 0.3s border-width ease-in-out;

                &.opened {
                    border-width: 0 0 128px 196px;
                    transition: 0.3s border-width ease-in-out;
                }

                .corner-rb-icon {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 10px 6px 6px 10px;

                    &.ng-hide-add,
                    &.ng-hide-remove {
                        transition: 0.3s ease-in-out all;
                    }

                    &.ng-hide-add-active,
                    &.ng-hide-remove-active {
                        transition: 0.3s ease-in-out all;
                    }

                    &.ng-hide {
                        opacity: 0;
                    }
                }

                .menu-logout-message {
                    position: absolute;
                    right: 6px;
                    bottom: 6px;
                    width: 196px;
                    padding: 10px;
                    color: #ccc;
                    text-align: right;

                    .menu-logout-question {
                        margin-bottom: 5px;
                        font-size: 0.9em;
                    }

                    .menu-logout-btn {
                        display: inline-block;
                        margin-left: 5px;
                        padding: 5px 8px;
                        font-size: 0.8em;
                        border: 1px solid #ccc;
                        .border-radius(4px);
                    }
                }

                .menu-logout-message.ng-hide-add,
                .menu-logout-message.ng-hide-remove {
                    transition: 0.3s ease-in-out all;
                }

                .menu-logout-message.ng-hide-add-active,
                .menu-logout-message.ng-hide-remove-active {
                    transition: 0.3s ease-in-out all;
                }

                .menu-logout-message.ng-hide {
                    opacity: 0;
                }
            }
        }
    }

    .check-progress-circle {
        position: absolute;
        left: 50%;
        top: 20%;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
        padding: 1px;
        .border-radius(50%);
        background-color: #fff;
        z-index: 9999;
        .drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.1));

        .check-progress-circle-label {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 100;
            text-align: center;
            color: @concrete;
            font-weight: bold;
            font-size: 0.8em;
        }
    }
}

// ----------------------------------------------------------------------------
// Page spaces
// ----------------------------------------------------------------------------
.page-spaces-selector {

    .page-space-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 990;

        color: #ffffff;
        background-color: @peter_river;
        font-size: 1.3em;
        text-align: center;
    }

    .spaces-area {
        position: relative;
        margin: 10px;
        overflow: hidden;
        border: 2px solid #fff;
        .border-radius(4px);

        .spaces-area-name {
            padding: 10px;
            color: #fff;
        }
    }

    .spaces-selector-item {
        position: relative;
        float: left;
        width: 33.333%;
        text-align: center;
        .border-radius(16px);

        &:active {
            animation: 0.5s select-item;
        }

        @keyframes select-item {
            0% { background-color: #333; }
            100% { background-color: #111; }
        }

        .spaces-selector-item-inner {
            padding: 10px;

            position: relative;
            vertical-align: middle;
            display: inline-block;
            line-height: normal;

            .spaces-selector-item-icon {
                width: 100%;
                height: auto;
                padding: 4px;
                max-width: 48px;
            }

            .spaces-selector-item-label {
                font-size: 0.7em;
            }

            .spaces-selector-item-progress {
                position: absolute;
                left: 50%;
                top: 10%;
                width: 32px;
                height: 32px;
                padding: 2px;
                -webkit-transform: translate(20%, 0);
                transform: translate(20%, 0);
                background-color: #111;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

            .spaces-selector-item-nok {
                position: absolute;
                left: 50%;
                top: 10%;
                width: 24px;
                height: 24px;
                padding: 2px;
                font-size: 0.7em;
                font-weight: 600;
                -webkit-transform: translate(-120%, 0);
                transform: translate(-120%, 0);
                background-color: #dd2222;
                color: #fff;
                border: 3px solid #111;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }
        }
    }
}

.page-space {
    height: 100%;
    overflow-y: auto;

    .page-space-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 990;

        color: #ffffff;
        background-color: @peter_river;
        font-size: 1.3em;
        text-align: center;
    }

    .page-space-content {
        margin-top: 50px;

        .change-warning {
            margin: 60px 5% 0 5%;
            padding: 10px 0;
            text-align: center;
            color: @orange;
            .border-radius(4px);
            border: 2px solid @orange;
        }

        .space-category {
            padding: 10px 5%;

            .space-category-title {
                margin-bottom: 10px;
                font-size: 1.2em;
                color: @peter_river;
            }

            .space-category-item {
                font-size: 0.9em;
                margin: 5px 0;
            }
        }

        .space-btn {
            padding: 20px 0;
        }
    }

}

// ----------------------------------------------------------------------------
// Page catégories
// ----------------------------------------------------------------------------
.page-categories-selector {

    .page-category-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 990;

        color: #ffffff;
        background-color: @emerald;
        font-size: 1.3em;
        text-align: center;
    }

    .categories-selector-item {
        position: relative;
        float: left;
        width: 50%;
        text-align: center;
        .border-radius(16px);

        &:active {
            animation: 0.5s select-item;
        }

        @keyframes select-item {
            0% { background-color: #333; }
            100% { background-color: #111; }
        }

        .categories-selector-item-inner {
            padding: 10px;

            position: relative;
            vertical-align: middle;
            display: inline-block;
            line-height: normal;

            .categories-selector-item-icon {
                width: 100%;
                height: auto;
                padding: 4px;
                max-width: 48px;
            }

            .categories-selector-item-label {
                font-size: 0.8em;
            }

            .categories-selector-item-progress {
                position: absolute;
                left: 50%;
                top: 10%;
                width: 32px;
                height: 32px;
                padding: 2px;
                -webkit-transform: translate(20%, 0);
                transform: translate(20%, 0);
                background-color: #111;
                border-radius: 50%;
            }

            .categories-selector-item-nok {
                position: absolute;
                left: 50%;
                top: 10%;
                width: 24px;
                height: 24px;
                padding: 2px;
                font-size: 0.7em;
                font-weight: 600;
                -webkit-transform: translate(-120%, 0);
                transform: translate(-120%, 0);
                background-color: #dd2222;
                color: #fff;
                border: 3px solid #111;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }
        }
    }
}

.page-category {
    height: 100%;
    overflow-y: auto;

    .page-category-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 990;

        color: #ffffff;
        background-color: @emerald;
        font-size: 1.3em;
        text-align: center;
    }

    .page-category-content {
        margin-top: 50px;

        .change-warning {
            margin: 60px 5% 0 5%;
            padding: 10px 0;
            text-align: center;
            color: @orange;
            .border-radius(4px);
            border: 2px solid @orange;
        }

        .category-space {
            padding: 10px 5%;

            .category-space-title {
                margin-bottom: 10px;
                font-size: 1.2em;
                color: @emerald;
            }

            .category-space-item {
                margin: 5px 0;
            }
        }

        .category-btn {
            padding: 20px 0;
        }
    }

}

// ----------------------------------------------------------------------------
// Modal title
// ----------------------------------------------------------------------------
.toggle-modal {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;

    .toggle-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);

        .toggle-modal-box {
            position: absolute;
            top: 20%;
            left: 10%;
            width: 80%;
            background: #000;
            .border-radius(4px);

            &.modal-spaces {
                border: 2px solid @peter_river;
            }

            &.modal-categories {
                border: 2px solid @emerald;
            }

            .toggle-modal-title {
                width: 100%;
                padding: 20px 20px 0 20px;
            }

            .toggle-modal-form {
                width: 100%;
                padding: 20px;

                .textarea {
                    width: 100%;
                }

                .btn {
                    margin-top: 10px;
                    width: 100%;
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------
// Page procedures
// ----------------------------------------------------------------------------
.page-procedures {
    overflow-y: auto;
    height: 100%;

    .page-procedures-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 990;

        color: #ffffff;
        background-color: #607D8B;
        font-size: 1.3em;
        text-align: center;
    }

    .page-procedures-content {
        margin: 60px 0 20px 0;
        padding: 0 5%;

        .procedures-filter {

            .form-control {
                display: block;
                width: 100%;
                padding: 10px;
                color: #fff;
                background-color: #111;
                background-color: transparent;
                border: 2px solid #fff;
                .border-radius(4px);
            }
        }

        .procedures {
            margin-top: 10px;

            .procedure {
                margin-top: 15px;
                padding: 10px;
                text-align: center;
                border: 1px solid #333;
                .border-radius(4px);

                .procedure-name {
                    display: block;
                    margin-bottom: 10 px;
                    font-size: 1.5em;
                    color: @carrot;
                }
            }
        }
    }
}

.page-procedure {
    overflow-y: auto;
    height: 100%;

    .page-procedure-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 990;

        color: #ffffff;
        background-color: #607D8B;
        font-size: 1.3em;
        text-align: center;
    }

    .page-procedure-content {
        margin: 60px 0 20px 0;
        padding: 0 5%;

        h3 {
            font-weight: bold;
        }

        ol, ul {
            padding-left: 20px;

            ul {
                margin-top: 10px;
            }
        }

        li {
            margin-bottom: 10px;
        }

        code {
            padding: 0 2px;
            border: 1px solid #999;
        }
    }
}

// ----------------------------------------------------------------------------
// Page météo
// ----------------------------------------------------------------------------
.page-weather {

    .page-weather-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 990;

        color: #ffffff;
        background-color: @amethyst;
        font-size: 1.3em;
        text-align: center;
    }

    .weather-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;

        &.sunny {
            .gradient (#075EB8, #93D0F8);

            .weather-icon {
                font-size: 9em;
                color: #ffee99;
                -webkit-animation:spin 10s linear infinite;
                -moz-animation:spin 10s linear infinite;
                animation:spin 10s linear infinite;
            }
        }

        &.sunny-cloudy {
            .gradient (#8d979b, #7cabbf);

            .weather-icon {
                font-size: 9em;
                color: #eee;
            }
        }

        &.cloudy {
            .gradient (#a7b1b5, #4c5f62);

            .weather-icon {
                font-size: 9em;
                color: #eee;
            }
        }

        &.rain {
            .gradient (#777d80, #283233);

            .weather-icon {
                font-size: 9em;
                color: #eee;
            }
        }

        .weather {
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            margin-top: -120px;
            text-align: center;

            .weather-message {
                margin-top: 20px;
                color: #ffffff;
                font-size: 1.5em;
            }
        }
    }

    .weather-bottom-message {
        position: absolute;
        z-index: 10;
        width: 100%;
        left: 0;
        bottom: 15px;
        font-size: 0.6em;
        color: #fff;
        text-align: center;
    }

    .detailed-wheather {
        position: absolute;
        z-index: 12;
        top: 53%;
        left: 50%;
        width: 80%;
        max-height: 80%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        overflow-x: hidden;
        overflow-y: auto;
        opacity: 1;
        color: #333;
        background-color: #fff;
        .border-radius(4px);
        .drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.1));

        -webkit-overflow-scrolling: touch; // ios momentum scroll

        .detailed-wheather-inner {
            padding: 20px;

            .detailed-weather-title {
                font-size: 1.6em;
                font-weight: 300;
                padding-bottom: 10px;
            }

            .detailed-wheather-item {
                margin: 20px 0;

                .detailed-wheather-item-title {
                    font-weight: 600;
                    color: #999;
                }

                .detailed-wheather-item-check {
                    margin: 5px 0;
                }
            }
        }
    }

    .detailed-wheather.ng-hide-add,
    .detailed-wheather.ng-hide-remove {
        transition: 0.5s ease-in-out all;
    }

    .detailed-wheather.ng-hide-add-active,
    .detailed-wheather.ng-hide-remove-active {
        transition: 0.5s ease-in-out all;
    }

    .detailed-wheather.ng-hide {
        opacity: 0;
        top: 100%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

// ----------------------------------------------------------------------------
// Page emergency
// ----------------------------------------------------------------------------
.page-report {

    .page-report-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 990;

        color: #ffffff;
        background-color: @alizarin;
        font-size: 1.3em;
        text-align: center;
    }

    .report-form {
        margin-top: 50px;
        text-align: center;

        .report-date {
            padding: 10px;
        }

        .report-label {
            padding: 10px;
        }

        .report-picture {

        }

        .control-container {
            padding: 10px;
        }
        select{
        width: 85%;
        height: 35px;
        padding-left: 5px;
        }
    }
}

// ----------------------------------------------------------------------------
// Page emergency
// ----------------------------------------------------------------------------
.page-emergency {
    overflow-y: auto;
    height: 100%;

    .page-emergency-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 990;

        color: #ffffff;
        background-color: @carrot;
        font-size: 1.3em;
        text-align: center;
    }

    .page-emergency-content {
        margin: 60px 0 20px 0;
        padding: 0 5%;

        .phones-filter {

            .form-control {
                display: block;
                width: 100%;
                padding: 10px;
                color: #fff;
                background-color: #111;
                background-color: transparent;
                border: 2px solid #fff;
                .border-radius(4px);
            }
        }

        .phones {
            margin-top: 10px;

            .phone {
                margin-top: 30px;
                text-align: center;

                .phone-description {
                    font-size: 1.1em;
                    //padding: 10px 40px;
                }
                .phone-notes {
                    padding-top: 5px;
                    font-size: 0.8em;
                    font-style: italic;
                    color: #aaa;
                }
                .phone-numbers {
                    padding: 10px 10px 0 10px;
                }
                .phone-number-label {
                    display: block;
                    margin: 5px 0 10px 0;
                    font-size: 1.1em;
                    color: @carrot;
                }
                .phone-number {
                    display: block;
                    font-size: 1.6em;
                    color: @carrot;
                }
                .phone-email {
                    padding-top: 5px;
                    color: @carrot;

                    .phone-email-link,
                    .phone-email-link:visited {
                        color: @carrot;
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------
// Animations / transitions des pages
// ----------------------------------------------------------------------------
.page-view.ng-enter {
    animation: 1s view-enter;
    -webkit-animation: 1s view-enter;
}
.page-view.ng-leave {
    animation: 1s view-leave;
    -webkit-animation: 1s view-leave;
}

@keyframes view-enter {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes view-leave {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes view-enter {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes view-leave {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}