@orange         : #ff6600;
@dark_orange    : #db7920;
@cyan           : #459cdd;
@dark_blue      : #17375e;
@dark_turquoise : #1D4871;
@blue           : #275C90;
@turquoise      : #4a878a;
@green          : #43b474;
@beige          : #beb298;
@light_beige    : #FAF4D2;
@pink           : #ff6fd0;
@khaki          : #3c3022;
@red            : #e74c3c;
@dark_red       : #c0392b;

@peter_river    : #3498db;
@emerald        : #2ecc71;
@concrete       : #95a5a6;
@asphalt        : #34495e;
@amethyst       : #9b59b6;
@asbestos       : #7f8c8d;
@carrot         : #e67e22;
@alizarin       : #e74c3c;

@tab1 : @cyan;
@tab2 : @green;
@tab3 : @beige;
@tab4 : @khaki;
@tab5 : @dark_blue;

@font_size : 16px;

@smallvalue: 10px;
@mediumvalue: 20px;
@largevalue: 20px;